include taumahi/taumahi_tūtira/kupu_kino.txt
include taumahi/taumahi_tūtira/kupu_kino_kūare_tohutō.txt
include taumahi/taumahi_tūtira/kupu_rangirua.txt
include taumahi/taumahi_tūtira/kupu_rangirua_kūare_tohutō.txt